.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-around;
}
nav ul {
  gap: 50px;
  margin-right: 200px;
  color: white;
}
nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
}

.sub-text {
  font-size: 18px;
  font: family w 3px;
  margin-top: 15px;
  max-width: 450px;
}

.main-text {
  margin-top: 150px;
  font-size: 48px;
  font-weight: 900;
}

.welcome-message {
  padding-top: 10px;
  font-size: 36px;
  color: white;
  margin-left: 80px;
  max-height: 40px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  background: #3882f6;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  color: white;
}
a {
  list-style: none;
  text-decoration: none;
  color: azure;
}

.second-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 36px;
  font-weight: bold;
  color: salmon;
}
.box {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: solid hsl(202, 100%, 49%);
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}
.text {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 50px;
  max-width: 200px;
}
.info {
  margin-top: 190px;
}
.container2 {
  background-color: #e5e7eb;
  margin-top: 250px;
  height: 400px;
  font-size: 36px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.motivational-text {
  display: flex;
  max-width: 900px;
}
.container2 .quote {
  flex: 1;
  display: flex;

  align-items: flex-end;
}
.quote {
  font-weight: 900;
  font-style: normal;
}
li {
  list-style: none;
}

.image {
  margin-top: 100px;
  display: flex;
  margin-right: 300px;
  margin-bottom: 170px;
}

button {
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: #3882f6;
  border: solid #e5e7eb;
}

.container3 {
  background-color: hsl(223, 96%, 65%);
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  height: 150px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;

}
.subtext {
  color: black;
  font-size: 25px;
}
.main-text {
  margin: 40px;
}
.head-text {
  font-size: 24px;
  font-weight: 900;
}
.head-text,
.subtext {
  color: aliceblue;
}
